@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Condensed:wght@300;400;700&display=swap");

@layer base {
  body {
    @apply font-[Poppins];
  }

  h1 {
    @apply text-xl md:text-4xl font-bold;
  }

  li {
    @apply md:p-4 p-2;
  }
}

.slider {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide {
  opacity: 0.8;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 2s;
  transform: scale(1.08);
}
